{% for post in posts %}
<div class="col">
    <div class="card shadow-sm">
        <a href="{% url 'blog:single' post.slug %}">
            <img src="{{ post.image.url }}" class="card-img-top" alt="">
        </a>
        <div class="card-body">
            <h4>{{ post.title|title }}</h4>
            <p class="card-text">{{ post.summary }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{% url 'blog:single' post.slug %}" type="button"
                        class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <small class="text-muted">{{ post.created_at|timesince }}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}