{% extends 'base.html' %}
{% block title %}Search{% endblock %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <h4 class="mb-5"><center>Search results</center></h4>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if posts %}
        {% include 'posts_loop.html' %}
        {% else %}
            <h5>Kechirasiz ushbu {{ query }}-ga most post mavjud emas.</h5>
        {% endif %}
      </div>
    </div>
  </div>
  {% include 'pagination.html' %}
{% endblock %}