aiogram
aiohttp
aiosignal
asgiref
async-timeout
attrs
Babel
certifi
charset-normalizer
config
crispy-bootstrap5
dj-database-url
Django
django-ckeditor
django-crispy-forms
django-environ
django-etc
django-hitcount
django-js-asset
django-rest-framework
django-widget-tweaks
djangorestframework
environs
frozenlist
gunicorn
idna
magic-filter
marshmallow
multidict
packaging
Pillow
psycopg2-binary
python-decouple
python-dotenv
pytz
requests
sorl-thumbnail
sqlparse
telegram
thread6
typing_extensions
urllib3
yarl
